<div class="main">
  <table>
    <tbody>
      <tr valign="top">
        <td rowspan="2" style="padding: 0px 5px 5px 5px" width="130">
          <a href="/">
            <img src="/icon.png" alt="Pipe" style="vertical-align: middle;" width="120" border="0">
          </a>
        </td>
      </tr>
      <tr valign="bottom">
        <td>
          <table border="0">
            <tbody>
              <tr>
                <td>
                  <a href="/">home</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="/upload">upload</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="/faq">faq</a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <div class="content">