<!DOCTYPE html>

<head>

  <head>
    <title> Pipe FAQ </title>
    <link rel="stylesheet" href="/style.css" />
  </head>

<body>
  <div class="main">
    <%- include('partials/navbar.ejs') %>
      <ol>
        <li>
          what is pipe?
          <p><b>pipe</b> is a video sharing platform that allows you to upload anonymously. it functions very similarly
            to youtube.</p>
        </li>
        <li>
          what are the rules?
          <p>there is a terms of use: <a href="/tos">here</a></p>
        </li>
        <li>
          is there an api?
          <p>yes, there is: <a href="/api">here</a></p>
        </li>
      </ol>
  </div>
</body>
</head>
