<!DOCTYPE html>

<html>
	<head>
		<title> Login </title>
		<link type="text/css" rel="stylesheet" href="/public/style.css">
	</head>
	<body>
		<style>	
			input
			{
				display:block;
				margin-top:10px;
				width:10%;
			}
		</style>
		
		<div class="main" align="center">
			<h1> Login to Pipe </h1>
			<hr>
			
			<form action="" method="POST" encType="multipart/form-data">
				<input name="username" type="text" placeholder="Username">
				<input name="password" type="password" placeholder="Password">
				<input type="submit" value="Login">
			</form>
		</div>
	</body>
</html>
