<!DOCTYPE html>

<head>

  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>

<body>
  <div class="main">
    <%- include('partials/navbar.ejs') %>
      <h2>definitions</h2>
      <p>the following terms are used extensively throughout the terms of use/terms of service. you should know what
        each term means.</p>
      <ul>
        <li>the term <b>SERVICE</b> refers to the services provided by Pipe, including unlimited access to video
          sharing, video watching, and voting on videos.</li>
        <li>the term <b>USER</b>, <b>YOU</b>, and <b>YOUR</b> refers to the person, company or organization that is or
          has used the website and/or service. </li>
        <li>the term <b>PIPE</b>, <b>WE</b>, <b>US</b> refers to pipe and the constituents behind it. </li>
        <li>the term <b>CONTENT</b> refers to videos, comments and video and comment metadata hosted on pipe uploaded by
          users. </li>
      </ul>
      <h2>about pipe</h2>
      <ul>
        <li><b>pipe</b> is a service that allows you to upload videos anonymously, as well as watch videos anonymously.
          we provide an api for more technical users.</li>
        <li><b>pipe</b> is not a law firm, or houses legal experts. or has any lawyers at all.</li>
        <li><b>pipe</b> does not promote or endorse any content uploaded to the site.</li>
        <li><b>pipe</b> can not guarantee that a video is entirely safe. example: explosive lemons might be housed
          within the video, or may be inside your computer. we cannot tell.</li>
        <li><b>pipe</b> can not, will not, and does not serve legal advice or legal services. we are NOT a law firm. any
          use of pipe is not intended to create an attorney-client relationship.</li>
      </ul>
      <h2>user responsibilities</h2>
      <p>you are responsible for any content you upload, and any actions you take on the site.</p>
      <ul>
        <li>compliance with state and country laws. you warrant the fact that: (i) you are of legal age and have
          authority to legally bind yourself to the terms of use of pipe. (ii) your use of the service will solely be
          for uses permitted by the terms of service of pipe.</li>
        <li>you agree to not, under any circumstances, violate the terms of service.</li>
        <li>any content that you submit, and then, at a later date or time, delete, is not recoverable.</li>
      </ul>
      <h2>user generated content</h2>
      <ul>
        <li>we have the right to refuse or remove any user-generated content that, in our sole discrection, violates any
          laws or pipe terms of service.</li>
        <li>you may upload user-generated content while using the service. you are solely responsible for the content,
          and for any harm resulting from, any user-generated content that you post, upload or link to or otherwise make
          available via the service, regardless of the form of that content. we are not responsible for any public
          display or misuse of your user-generated content.</li>
        <li>you retain all moral rights to your content that you upload, publish, or submit to any part of the service,
          including the rights of integrity and attribution.</li>
        <li>any user-generated content you upload can, and will be found by other users. you agree to allow others to
          vote on your content and download it.</li>
        <li>you retain ownership of your content. if you post anything you did not create or do not own the rights to,
          you agree that you are responsible for any content you post; that you will only submit content that you have
          the right to post, and that you will fully comply with any third party licenses relating to that content.</li>
      </ul>
      <h2>prohibited usage of the service</h2>
      <p>you may not post, store, or otherwise make available any content (user-generated or not) that contains the
        following:</p>
      <ul>
        <li>private information of individuals, companies, or any other legal body. this includes emails, names, phone
          numbers, social security nubmers, and finanical information.</li>
        <li>hate speech, defamatory content, abusive content and hateful content.</li>
        <li>obscene imagery and/or audio</li>
        <li>illegal, harmful, offensive material or material that would encourage, solicit, glorify, or provide
          instruction for
          criminal or civil offense</li>
        <li>copyrighted material that infringes on the original owners copyright, or any rights of privacy and publicity
          and any others</li>
        <li>content that contains viruses, corrupted data or other harmful, disruptive or destructive files or code
        </li>
        <li>content that exceeds 10 mb in size</li>
        <li>content that, in pipes judgement, is objectionable, may restrict or inhibit anothers use of pipe, or
          enjoying the service, or exposing any harm or liability to pipe or users of the service.</li>
        <li>content that you are contractually or legally required to keep confidential</li>
        <li>content that bypasses the rate limits, filters and protections for pipe to continue running as a service
        </li>
      </ul>
      <h2>rights to use the service</h2>
      <p>on the condition that you fully comply with these terms, pipe grants you a limited, nonexclusive, and revocable
        license to access and use the service.</p>
      <h2>disclaimers</h2>
      <p>THE SERVICE AND ANY OTHER SERVICE AND CONTENT INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE
        SERVICE (INCLUDING THIRD PARTY MATERIALS) ARE PROVIDED TO YOU ON AN AS IS OR AS AVAILABLE BASIS WITHOUT ANY
        REPRESENTATIONS OR WARRANTIES OF ANY KIND. WE DISCLAIM ANY AND ALL OTHER WARRANTIES AND REPRESENTATIONS (EXPRESS
        OR IMPLIED, ORAL OR WRITTEN) WITH RESPECT TO THE SERVICE AND CONTENT INCLUDED ON OR OTHERWISE MADE AVAILABLE TO
        YOU THROUGH THE SERVICE (INCLUDING THIRD PARTY MATERIALS) WHETHER ALLEGED TO ARISE BY OPERATION OF LAW, BY
        REASON OF CUSTOM OR USAGE IN THE TRADE, BY COURSE OF DEALING OR OTHERWISE.</p>

      <h2>limitation of liability</h2>
      <p>IN NO EVENT WILL PIPE BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DIRECT, SPECIAL, INDIRECT, INCIDENTAL,
        EXEMPLARY OR CONSEQUENTIAL DAMAGES OF ANY KIND ARISING OUT OF OR IN CONNECTION WITH THE SERVICE OR ANY OTHER
        SERVICE AND CONTENT INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE SERVICE (INCLUDING, BUT NOT
        LIMITED TO, THIRD PARTY MATERIALS AND USER CONTENT), REGARDLESS OF THE FORM OF ACTION, WHETHER IN CONTRACT,
        TORT, STRICT LIABILITY OR OTHERWISE, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF THESE DAMAGES OR ARE
        AWARE OF THE POSSIBILITY OF THESE DAMAGES.</p>

      <h2>imdemnification</h2>
      <p>you will defend, indemnify, and hold us harmless from and against any actual or threatened suits, actions,
        proceedings (at law or in equity), claims, damages, payments, deficiencies, fines, judgments, settlements,
        liabilities, losses, costs, and expenses (including reasonable attorneys' fees, costs, penalties, interest, and
        disbursements) arising from or related to any of your conduct with respect to the Service, the User Content you
        have posted, stored or otherwise made available via the Service, or any violation (or alleged violation) of
        these Terms or the rights of any third party by you. </p>
  </div>
</body>
</head>