<!DOCTYPE html>

<head>

  <head>
    <title> Video Upload </title>
    <link rel="stylesheet" href="/style.css" />
  </head>

<body>
  <div class="main">
    <%- include('partials/navbar.ejs') %>
      <div>
        <form action="/api/videos/upload" method="POST" encType="multipart/form-data">
          <label for="video">Choose video file... </label>
          <input type="file" name="video" id="video" accept="video/*" required>
          <br>
          <label for="name">Name: </label>
          <br>
          <input type="text" name="name" id="name" size="30" maxlength="30" autocomplete="off" placeholder="enter name"
            required>
          <br>
          <label for="description">Description: </label>
          <br>
          <textarea name="description" id="description" cols="30" rows="5" autocomplete="off"
            placeholder="enter description" wrap="soft" maxlength="200"></textarea>
          <br>
          <input type="submit" value="Upload">
        </form>
        <p>by pressing the upload button, you are agreeing to the <a href="/tos">terms of service</a></p>
      </div>
  </div>
</body>
</head>
