
body {
  font-family: sans-serif;
}

label {
  padding-top: 10px;
}

code {
  background-color: lightgrey;
  border: 1px gray solid;
  border-radius: 2px;
  display: block
}

video {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.date {
  color: gray;
}

.footer {
  position:absolute;
  bottom:0;
  width: 800px;
  height:10em;
  text-align: center;
}

.main {
  width: 800px;
  margin: 0 auto;
}

span {
  max-width: 100%;
}
